body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:98px;
  top:84px;
  width:67px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:113px;
  top:120px;
  width:52px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:80px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:200px;
  top:120px;
  width:200px;
  height:100px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:300px;
  top:530px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6_ann {
  position:absolute;
  left:393px;
  top:526px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:98px;
  top:260px;
  width:302px;
  height:250px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:250px;
}
#u8 {
  position:absolute;
  left:2px;
  top:117px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:113px;
  top:274px;
  width:120px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:109px;
  top:320px;
  width:286px;
  height:75px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:0px;
  width:141px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:40px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_ann {
  position:absolute;
  left:126px;
  top:30px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:140px;
  top:30px;
  width:141px;
  height:40px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:280px;
  top:270px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:120px;
  top:355px;
  width:113px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:280px;
  top:355px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:98px;
  top:530px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
