body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:64px;
  width:67px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:107px;
  top:114px;
  width:60px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:200px;
  top:111px;
  width:200px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4_input:disabled {
  color:grayText;
}
#u5 {
  position:absolute;
  left:100px;
  top:270px;
  width:790px;
  height:640px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:640px;
}
#u6 {
  position:absolute;
  left:2px;
  top:312px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:750px;
  top:232px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:90px;
  top:235px;
  width:96px;
  height:22px;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:790px;
  top:945px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10_ann {
  position:absolute;
  left:883px;
  top:941px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:101px;
  top:20px;
  width:66px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:200px;
  top:20px;
  width:8px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:200px;
  top:58px;
  width:200px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u15_input:disabled {
  color:grayText;
}
#u16 {
  position:absolute;
  left:200px;
  top:175px;
  width:200px;
  height:22px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16_input:disabled {
  color:grayText;
}
#u17 {
  position:absolute;
  left:124px;
  top:178px;
  width:43px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:120px;
  top:292px;
  width:740px;
  height:228px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:228px;
}
#u20 {
  position:absolute;
  left:2px;
  top:106px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_ann {
  position:absolute;
  left:853px;
  top:288px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:120px;
  top:560px;
  width:740px;
  height:228px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:228px;
}
#u22 {
  position:absolute;
  left:2px;
  top:106px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_ann {
  position:absolute;
  left:853px;
  top:556px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:148px;
  top:304px;
  width:85px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:154px;
  top:344px;
  width:75px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:533px;
  top:344px;
  width:57px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:191px;
  top:387px;
  width:38px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:547px;
  top:386px;
  width:43px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:172px;
  top:424px;
  width:57px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:513px;
  top:426px;
  width:77px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:720px;
  top:465px;
  width:100px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:260px;
  top:340px;
  width:200px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:620px;
  top:340px;
  width:200px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:260px;
  top:382px;
  width:200px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:260px;
  top:422px;
  width:200px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:620px;
  top:382px;
  width:200px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:620px;
  top:422px;
  width:200px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:158px;
  top:574px;
  width:85px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:164px;
  top:614px;
  width:75px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:543px;
  top:614px;
  width:57px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:201px;
  top:657px;
  width:38px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:557px;
  top:656px;
  width:43px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:182px;
  top:694px;
  width:57px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:523px;
  top:696px;
  width:77px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:730px;
  top:735px;
  width:100px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:270px;
  top:610px;
  width:200px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:630px;
  top:610px;
  width:200px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:270px;
  top:652px;
  width:200px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:270px;
  top:692px;
  width:200px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  position:absolute;
  left:630px;
  top:652px;
  width:200px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:630px;
  top:692px;
  width:200px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:129px;
  top:470px;
  width:100px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:260px;
  top:466px;
  width:440px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:139px;
  top:739px;
  width:100px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:270px;
  top:735px;
  width:440px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:107px;
  top:935px;
  width:100px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
